
.listadoContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 90vh;    
    justify-content: center;
    align-items: center;
    background-image: url("../../images/netflix-bg-dark.jpg");
    background-attachment: fixed;
    /* border-color: rgb(72, 255, 0);
    border-width: 2px;
    border-style: solid; */
}

.movieCardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 25em;
    width: 25em;

    margin: 1em;
    position: relative;

    /* border-color: rgb(0, 170, 255);
    border-width: 1px;
    border-style: solid; */
}

.cardImage {

  width: 95%;
  margin-top: 1em;
}

h3 {
    font-size: 1.2em;
}

div.fallback {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: pink;
  }

  .swalertPopup{
    border-color: var(--color-red) !important;
    border-width: 0px !important;
    border-style: solid !important;
    background-color: var(--color-swalert-bg) !important;
    height: 20em;
    width: 20em;
    position: absolute;
    left:var(--posLeft);
    top: var(--posTop);
  }
  
  .swalertTitle {
    color: rgb(249, 249, 254) !important;
  }
  
  .swalertHtml {
    color: rgb(244, 240, 240) !important;
    background-color: transparent;
  }
  
  .swalertActions {
    background-color: transparent;
    
  }
  
  .swalertConfirmButton {
    background-color: var(--color-red)!important;
    color: azure;
    width: 6rem;
    height: 4.5rem;
    border-radius: 0.5em !important;
    font-size: 1.4rem !important;
    border-style: none;
    
  }
  
  .modalButton {
    background-color: var(--color-red);
    color: var(--color-gray-clear);
    padding: 0.5em;
    border-radius: 0.4em;
    width: 7rem;
    height: 3.5em;
    font-size: 1.1em;
    font-weight: 700;
    padding: 0.5em;
    border-radius: 0.4em;
    border-width: 0px;
    cursor: pointer;
    margin-top: 3rem;
}

.addFavButton {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  right: 1rem;
  top: 1.4rem;
  background-color: #a0a79da0;
  border-radius: 50%;
  border-style: none;
  font-size: 1.8rem;
  color: rgba(51, 51, 48, 0.788);
  cursor: pointer;
  font-family: 'Noto Emoji', sans-serif;
  text-align: center;

}

.favBtnContainer {
  width: 100%;
  display: flex;
  justify-content: right;
  position: absolute;
  
}