
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Lato:wght@300&display=swap');

.movieDetailContainer {
    display: flex;
    flex-direction: row;
    min-height: 90vh;
    justify-content: center;
    align-items: center;
    
    /* background-image: url("../../images/netflix-bg.jpg"); */

    /* border-color: rgb(72, 255, 0);
    border-width: 2px;
    border-style: solid; */
}

.overviewContainer {

    display: flex;
    flex-direction: row;    
    width: 90vw;
    min-height: 90vh;
    justify-content: left;
    align-items: top;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;

     /* border-color: rgb(72, 255, 0);
    border-width: 2px;
    border-style: solid; */
}

.infoBackgroundContainer {

    display: flex;
    flex-direction: row;
    min-height: 90vh;
    width: 100%;
    justify-content: left;
    align-items: top;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.9864320728291317) 6%, rgba(0,0,0,0.927608543417367) 16%, rgba(0,0,0,0.9023984593837535) 20%, rgba(0,0,0,0.8715861344537815) 24%, rgba(0,0,0,0.7707457983193278) 28%, rgba(0,0,0,0.01724439775910369) 46%);
    
}

.infoContainer {

    display: flex;
    flex-direction: column;
    width: 40rem;
    justify-content: yop;
    align-items: center;
    text-align:left;
    background: transparent;
    padding-left: 1.5rem;
    
   
    padding-top: 5rem;

    /* border-color: rgb(72, 255, 0);
    border-width: 2px;
    border-style: solid; */
}

.movieTitle {
    font-size: 2.2rem;
    font-family: 'Josefin Sans', sans-serif;
    color: azure;
    background-color: transparent;
    margin-bottom: 2rem;
}

.overviewText {
    font-size: 1.3rem;
    font-family: 'Lato', sans-serif;
    line-height: 1.8rem;
    color: azure;
    background-color: transparent;
}

.rightDiv {
    background-color: transparent;
}


/* .swalertContainer { 
    position: absolute !important;
    left: 10px !important;
    top: 150px !important;

} */


.swalertPopup{
    border-color: var(--color-red) !important;
    border-width: 0px !important;
    border-style: solid !important;
    background-color: var(--color-swalert-bg) !important;
    height: 65vh;
    width: calc(65vh * 1.641);
    /* position: absolute !important;
    left: 10px !important;
    top: 150px !important; */
  }
  
  .swalertTitle {
    color: rgb(249, 249, 254) !important;
  }
  
  .swalertHtml {
    color: rgb(244, 240, 240) !important;
    background-color: transparent;
  }
  
  .swalertActions {
    background-color: transparent;
    
  }
  
  .swalertConfirmButton {
    background-color: var(--color-red)!important;
    color: azure;
    width: 6rem;
    height: 4.5rem;
    border-radius: 0.5em !important;
    font-size: 1.4rem !important;
    border-style: none;
    
  }
  
  .modalButton {
    background-color: var(--color-red);
    color: var(--color-gray-clear);
    padding: 0.5em;
    border-radius: 0.4em;
    width: 7rem;
    height: 3.5em;
    font-size: 1.1em;
    font-weight: 700;
    padding: 0.5em;
    border-radius: 0.4em;
    border-width: 0px;
    cursor: pointer;
    margin-top: 3rem;
}

.iframe{
  height: 30vh !important;
  width: calc(30vh * 1.641) !important;
}

