.listadoContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 90vh;    
    justify-content: center;
    align-items: center;
    background-image: url("../../images/netflix-bg-dark.jpg");
    background-attachment: fixed;
    /* border-color: rgb(72, 255, 0);
    border-width: 2px;
    border-style: solid; */
}

.movieCardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 35em;
    width: 25em;

    margin: 1em;
    

    border-color: rgb(0, 170, 255);
    border-width: 1px;
    border-style: solid;
}

.cardImage {

  width: 95%;
  margin-top: 1em;
}

h3 {
    font-size: 1.2em;
}

div.fallback {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: pink;
  }