@import './variables.css';

*{
    background-color: transparent;
    color: rgb(94, 94, 91);
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
}

a:link, a:visited, a:active {
    text-decoration:none;
}

